<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/7d88011ffc.js" crossorigin="anonymous"></script>
    <title>Global Azure</title>
  </head>
  <body>
    <header>
      <div class="navbar navbar-dark bg-dark box-shadow fixed-top">
        <div class="container d-flex justify-content-between">
          <img src="assets/images/MS logo 95x53.png" />
        </div>
        <div class="navbar-nav mr-auto mt-2 mt-lg-0">
          <img src="assets/images/VM logo 95x53.png" width="95" height="46" />
        </div>
      </div>
    </header>

    <main role="main">
      <section class="py-2" style="margin-top: 56px !important">
        <div class="jumbotron text-center bg-light bannerImage">
          <div class="container jumbotronColor">
            <h1 class="jumbotron-heading" style="font-weight: bold">
              Global Azure Virtual 2021
            </h1>
            <p class="lead text-muted jumbotronColor" style="font-weight: bold">
              Organised By
            </p>
            <h1 class="jumbotron-heading" style="font-weight: bold">
              ValueMomentum
            </h1>
          </div>
        </div>
      </section>

       

      <section>
        <div class="container">
          <h3 class="text-center">
            Declutter QA imelementation with Azure DevOps
          </h3>

          <div class="text-center">
            <p>
              <span class=""
                ><i class="fa fa-clock" aria-hidden="true"></i> 11:00 AM To 11:40 AM </span
              >
            </p>
            <a href="#"
              ><i
                class="fa fa-youtube-play"
                style="font-size: 68px; color: #ff0000de"
              ></i
            ></a>
          </div>
        </div>
      </section>

      <section>
        <div class="album py-5 bg-light mb-3">
          <div class="container">
            <h3>About The Session</h3>
            <p>
              Something short and leading about the collection below—its
              contents, the creator, etc. Make it short and sweet, but not too
              short so folks don't simply skip over it entirely.Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too
              short so folks don't simply skip over it entirely.
            </p>
          </div>
        </div>
      </section>

      

      <section>
        <div class="container mb-3">
          <h3>Meet the Speakers</h3>
          <ul class="list-group">
            <li class="list-group-item borderless">
              <a class="deco-none" href="speakers.html#SreekarReddy"
                >SreekarReddy</a
              >
            </li>
           
          </ul>
        </div>
      </section>

      <!-- FOOTER -->
      <div class="bg-dark text-white">
        <footer class="container">
          <p class="float-right">
            <a class="deco-none text-white" href="#">Back to top</a>
          </p>
          <p>&copy; 2021 Valuemomentum, Inc.</p>
        </footer>
      </div>
    </main>

    <script src="assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function () {
        // executes when HTML-Document is loaded and DOM is ready
        console.log("document is ready");

        $(".card").hover(
          function () {
            $(this).addClass("shadow-lg").css("cursor", "pointer");
          },
          function () {
            $(this).removeClass("shadow-lg");
          }
        );

        // document ready
      });
    </script>
  </body>
</html>
