<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
    <script
      src="https://kit.fontawesome.com/7d88011ffc.js"
      crossorigin="anonymous"
    ></script>
    <title>Global Azure</title>
  </head>
  <body>
    <header>
      <div class="navbar navbar-dark bg-dark box-shadow fixed-top">
        <div class="container d-flex justify-content-between">
          <img src="assets/images/MS logo 95x53.png" />
        </div>
        <div class="navbar-nav mr-auto mt-2 mt-lg-0">
          <img src="assets/images/VM logo 95x53.png" width="95" height="46" />
        </div>
      </div>
    </header>

    <main role="main">
      <section class="paddingTop">
        <div class="container">
          <h3 class="text-center mb-4">Azure Gems</h3>
          <div
            class="list-group list-group-horizontal d-flex bd-highlight mb-3"
            id="myList"
            role="tablist"
          >
            <a
              class="list-group-item list-group-item-action active p-2 flex-grow-2 bd-highlight"
              data-toggle="list"
              href="#zerotrack"
              role="tab"
              >Main Track</a
            >
            <a
              class="list-group-item list-group-item-action p-2 flex-grow-2 bd-highlight"
              data-toggle="list"
              href="#developertrack"
              role="tab"
              >Developer Track</a
            >
            <a
              class="list-group-item list-group-item-action p-2 bd-highlight"
              data-toggle="list"
              href="#ittrack"
              role="tab"
              >IT Pro Track</a
            >
            <a
              class="list-group-item list-group-item-action p-2 bd-highlight"
              data-toggle="list"
              href="#businesstrack"
              role="tab"
              >Business Track</a
            >
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="tab-content">
            <div class="tab-pane active" id="zerotrack" role="tabpanel">
              <div class="card-deck mb-4">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="assets/images/tracks/mainTrack/welcome.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-header">
                    <h5 class="card-title">Welcome Address</h5>
                  </div>

                  <div class="card-body">
                    <div class="d-flex flex-column bd-highlight">
                      <div class="p-2 bd-highlight"><h4>Speaker</h4></div>
                      <div class="p-2 bd-highlight" data-toggle="modal" data-target="#VinodPaidimarry">Vinod Paidimarry</div>
                      <div class="p-2 bd-highlight">
                        <small class=""
                          ><i class="far fa-clock"></i>&nbsp;10:00 AM To 10:10 AM
                          </small
                        >
                      </div>
                    </div>
                  </div>

                  <div class="card-footer">
                    <div class="text-center">
                      <button type="button" class="btn btn-danger">
                        Join Now
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <img
                    class="card-img-top"
                    src="assets/images/tracks/mainTrack/KeyNote.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-header">
                    <h5 class="card-title">Key Note</h5>
                  </div>

                  <div class="card-body">
                    <div class="d-flex flex-column bd-highlight">
                      <div class="p-2 bd-highlight"><h4>Speaker</h4></div>
                      <div class="p-2 bd-highlight" data-toggle="modal" data-target="#Deepak">Deepak Rajendran</div>
                      <div class="p-2 bd-highlight">
                        <small class=""
                          ><i class="far fa-clock"></i>&nbsp;10:10 AM To 10:20 AM</small
                        >
                      </div>
                    </div>
                  </div>

                  <div class="card-footer">
                    <div class="text-center">
                      <button type="button" class="btn btn-danger">
                        Join Now
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <img
                    class="card-img-top"
                    src="assets/images/tracks/mainTrack/VoteofThanks.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-header">
                    <h5 class="card-title">Vote of Thanks</h5>
                  </div>

                  <div class="card-body">
                    <div class="d-flex flex-column bd-highlight">
                      <div class="p-2 bd-highlight"><h4>Speaker</h4></div>
                      <div class="p-2 bd-highlight" data-toggle="modal" data-target="#VamshiRamadugu">Vamshi Ramadugu</div>
                      <div class="p-2 bd-highlight">
                        <small class=""
                          ><i class="far fa-clock"></i>&nbsp;10:20 AM To 10:30 AM
                          </small
                        >
                      </div>
                    </div>
                  </div>

                  <div class="card-footer">
                    <div class="text-center">
                      <button type="button" class="btn btn-danger">
                        Join Now
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="developertrack" role="tabpanel">
              <div class="card-deck mb-4">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="assets/images/tracks/Developerstrack/DemonstrateIntegration.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-header cardHeadheight">
                    <h5 class="card-title">
                      Demonstrate Integration Capabilities provided by Azure
                    </h5>
                  </div>

                  <div class="card-body">
                    <div class="d-flex flex-column bd-highlight">
                      <div class="p-2 bd-highlight"><h4>Speaker</h4></div>
                      <div class="p-2 bd-highlight" data-toggle="modal" data-target="#ManojKumar">Manoj Kumar</div>
                      <div class="p-2 bd-highlight" data-toggle="modal" data-target="#ManeeshKumar">Maneesh Kumar</div>
                      <div class="p-2 bd-highlight">
                        <small class=""
                          ><i class="far fa-clock"></i>&nbsp;10:30 AM To 11:10 AM
                          </small
                        >
                      </div>
                    </div>
                  </div>

                  <div class="card-footer">
                    <div class="text-center">
                      <button type="button" class="btn btn-danger">
                        Join Now
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <img
                    class="card-img-top"
                    src="assets/images/tracks/Developerstrack/AzureQuantum.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-header cardHeadheight">
                    <h5 class="card-title">Azure Quantum</h5>
                  </div>

                  <div class="card-body">
                    <div class="d-flex flex-column bd-highlight">
                      <div class="p-2 bd-highlight"><h4>Speaker</h4></div>
                      <div class="p-2 bd-highlight" data-toggle="modal" data-target="#SanjayShrivastav">Sanjay Shrivastav</div>
                      <div class="p-2 bd-highlight">
                        <small class=""
                          ><i class="far fa-clock"></i>&nbsp;11:10 AM To 11:50 AM
                          </small
                        >
                      </div>
                    </div>
                  </div>

                  <div class="card-footer">
                    <div class="text-center">
                      <button type="button" class="btn btn-danger">
                        Join Now
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <img
                    class="card-img-top"
                    src="assets/images/tracks/Developerstrack/AzureStaticWebApps.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-header cardHeadheight">
                    <h5 class="card-title">Azure Static Web Apps</h5>
                  </div>

                  <div class="card-body">
                    <div class="d-flex flex-column bd-highlight">
                      <div class="p-2 bd-highlight"><h4>Speaker</h4></div>
                      <div class="p-2 bd-highlight" data-toggle="modal" data-target="#HimanshuKotadia">Himanshu Kotadia</div>
                      <div class="p-2 bd-highlight">
                        <small class=""
                          ><i class="far fa-clock"></i>&nbsp;11:50 AM To 12:30 PM
                          </small
                        >
                      </div>
                    </div>
                  </div>

                  <div class="card-footer">
                    <div class="text-center">
                      <button type="button" class="btn btn-danger">
                        Join Now
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <img
                    class="card-img-top"
                    src="assets/images/tracks/Developerstrack/MachineLearningAutoMLAzure ML.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-header cardHeadheight">
                    <h5 class="card-title">
                      Democratizing Machine Learning throught AutoML & Azure ML
                    </h5>
                  </div>

                  <div class="card-body">
                    <div class="d-flex flex-column bd-highlight">
                      <div class="p-2 bd-highlight"><h4>Speaker</h4></div>
                      <div class="p-2 bd-highlight" data-toggle="modal" data-target="#SriramGudimella">Sriram Gudimella</div>
                      <div class="p-2 bd-highlight">
                        <small class=""
                          ><i class="far fa-clock"></i>&nbsp;12:30 PM To 01:10 PM
                          </small
                        >
                      </div>
                    </div>
                  </div>

                  <div class="card-footer">
                    <div class="text-center">
                      <button type="button" class="btn btn-danger">
                        Join Now
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="ittrack" role="tabpanel">
              <div class="card-deck mb-4">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="assets/images/tracks/ITproTrack/AzureArcandLighthouse.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-header">
                    <h5 class="card-title">Azure Arc / Lighthouse</h5>
                  </div>

                  <div class="card-body">
                    <div class="d-flex flex-column bd-highlight">
                      <div class="p-2 bd-highlight"><h4>Speaker</h4></div>
                      <div class="p-2 bd-highlight" data-toggle="modal" data-target="#Saikishore">Saikishore Tayi</div>
                      <div class="p-2 bd-highlight">
                        <small class=""
                          ><i class="far fa-clock"></i>&nbsp;01:10 PM To 01:50 PM
                          </small
                        >
                      </div>
                    </div>
                  </div>

                  <div class="card-footer">
                    <div class="text-center">
                      <button type="button" class="btn btn-danger">
                        Join Now
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <img
                    class="card-img-top"
                    src="assets/images/tracks/ITproTrack/Snowflake.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-header">
                    <h5 class="card-title">Snowflake on Azure</h5>
                  </div>

                  <div class="card-body">
                    <div class="d-flex flex-column bd-highlight">
                      <div class="p-2 bd-highlight"><h4>Speaker</h4></div>
                      <div class="p-2 bd-highlight" data-toggle="modal" data-target="#SatyaSrinivas">Satya Srinivas</div>
                      <div class="p-2 bd-highlight">
                        <small class=""
                          ><i class="far fa-clock"></i>&nbsp;01:50 PM To 02:30 PM
                          </small
                        >
                      </div>
                    </div>
                  </div>

                  <div class="card-footer">
                    <div class="text-center">
                      <button type="button" class="btn btn-danger">
                        Join Now
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <img
                    class="card-img-top"
                    src="assets/images/tracks/Developerstrack/PowerBipro.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-header">
                    <h5 class="card-title">Power BI Pro</h5>
                  </div>

                  <div class="card-body">
                    <div class="d-flex flex-column bd-highlight">
                      <div class="p-2 bd-highlight"><h4>Speaker</h4></div>
                      <div class="p-2 bd-highlight" data-toggle="modal" data-target="#SudeepKarnavat">Sudeep Karnavat</div>
                      <div class="p-2 bd-highlight">
                        <small class=""
                          ><i class="far fa-clock"></i>&nbsp;02:30 PM To 03:10 PM
                          </small
                        >
                      </div>
                    </div>
                  </div>

                  <div class="card-footer">
                    <div class="text-center">
                      <button type="button" class="btn btn-danger">
                        Join Now
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <img
                    class="card-img-top"
                    src="assets/images/tracks/ITproTrack/Sentinel.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-header">
                    <h5 class="card-title">Sentinel</h5>
                  </div>

                  <div class="card-body">
                    <div class="d-flex flex-column bd-highlight">
                      <div class="p-2 bd-highlight"><h4>Speaker</h4></div>
                      <div class="p-2 bd-highlight" data-toggle="modal" data-target="#Saikishore">Saikishore Tayi</div>
                      <div class="p-2 bd-highlight">
                        <small class=""
                          ><i class="far fa-clock"></i>&nbsp;03:10 PM To 03:50 PM
                        </small
                        >
                      </div>
                    </div>
                  </div>

                  <div class="card-footer">
                    <div class="text-center">
                      <button type="button" class="btn btn-danger">
                        Join Now
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="businesstrack" role="tabpanel">
              <div class="card-deck mb-4">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="assets/images/tracks/Businesstrack/Enablingsuccess.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-header cardHeadheight">
                    <h5 class="card-title">
                      Enabling successful agile delivery during virtual times
                    </h5>
                  </div>

                  <div class="card-body">
                    <div class="d-flex flex-column bd-highlight">
                      <div class="p-2 bd-highlight"><h4>Speaker</h4></div>
                      <div class="p-2 bd-highlight" data-toggle="modal" data-target="#sohini">Sohini Arya</div>
                      <div class="p-2 bd-highlight">
                        <small class=""
                          ><i class="far fa-clock"></i>&nbsp;03:50 PM To 04:30 PM
                          </small
                        >
                      </div>
                    </div>
                  </div>

                  <div class="card-footer">
                    <div class="text-center">
                      <button type="button" class="btn btn-danger">
                        Join Now
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <img
                    class="card-img-top"
                    src="assets/images/tracks/Developerstrack/DeclutterQA.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-header cardHeadheight">
                    <h5 class="card-title">
                      Declutter QA imelementation with Azure DevOps
                    </h5>
                  </div>

                  <div class="card-body">
                    <div class="d-flex flex-column bd-highlight">
                      <div class="p-2 bd-highlight"><h4>Speaker</h4></div>
                      <div class="p-2 bd-highlight" data-toggle="modal" data-target="#Bharath">Bharath Devalla</div>
                      <div class="p-2 bd-highlight" data-toggle="modal" data-target="#Suneetha">Suneetha Bagadi</div>
                      <div class="p-2 bd-highlight">
                        <small class=""
                          ><i class="far fa-clock"></i>&nbsp;04:30 PM To 05:10 PM
                          </small
                        >
                      </div>
                    </div>
                  </div>

                  <div class="card-footer">
                    <div class="text-center">
                      <button type="button" class="btn btn-danger">
                        Join Now
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <img
                    class="card-img-top"
                    src="assets/images/tracks/Businesstrack/strategies.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-header cardHeadheight">
                    <h5 class="card-title">
                      Charting AI Strategies for the enterprise
                    </h5>
                  </div>

                  <div class="card-body">
                    <div class="d-flex flex-column bd-highlight">
                      <div class="p-2 bd-highlight"><h4>Speaker</h4></div>
                      <div class="p-2 bd-highlight" data-toggle="modal" data-target="#Deepak">Deepak Pelluru</div>
                      <div class="p-2 bd-highlight">
                        <small class=""
                          ><i class="far fa-clock"></i>&nbsp;05:10 PM To 05:50 PM
                          </small
                        >
                      </div>
                    </div>
                  </div>

                  <div class="card-footer">
                    <div class="text-center">
                      <button type="button" class="btn btn-danger">
                        Join Now
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <img
                    class="card-img-top"
                    src="assets/images/tracks/Businesstrack/CloudAdoption.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-header cardHeadheight">
                    <h5 class="card-title">Cloud Adoption in the enterprise</h5>
                  </div>

                  <div class="card-body">
                    <div class="d-flex flex-column bd-highlight">
                      <div class="p-2 bd-highlight"><h4>Speaker</h4></div>
                      <div class="p-2 bd-highlight" data-toggle="modal" data-target="#pankajkumar">Pankaj kumar</div>
                      <div class="p-2 bd-highlight">
                        <small class=""
                          ><i class="far fa-clock"></i>&nbsp;05:50 PM To 06:30 PM
                          </small
                        >
                      </div>
                    </div>
                  </div>

                  <div class="card-footer">
                    <div class="text-center">
                      <button type="button" class="btn btn-danger">
                        Join Now
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- FOOTER -->
      <div class="bg-dark text-white">
        <footer class="container">
          <p class="float-right">
            <a class="deco-none text-white" href="#">Back to top</a>
          </p>
          <p>&copy; 2021 Valuemomentum, Inc.</p>
        </footer>
      </div>
    </main>


    <!-- MainTrack -->

    <div class="modal fade" id="VinodPaidimarry" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img
                      height="245px;"
                      src="assets/images/speakers/Main/vinod.png"
                      class="card-img"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title boldFont">Vinod Paidimarry: <small>Senior Vice President  </small>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                      </h5>
                      <p class="card-text">
                        With over 22 years of experience, I combine my strong hands-on technical expertise with decision-making experience in a technology leadership role. I have worked closely with multiple enterprises in helping them design and execute large transformational programs. Innovative thinker who applies expertise to solve relevant industry and business issues. Currently heading the Cloud Line of Business at ValueMomentum with a mission to help enterprises leverage public cloud platforms efficiently, to build the technology and engineering platform needed to compete effectively in this digital world.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="VamshiRamadugu" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img
                      height="245px;"
                      src="assets/images/speakers/Main/vamshi.png"
                      class="card-img"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title boldFont">Vamshi Ramadugu: <small>Director - Digital and Cloud Solutions  </small>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                      </h5>
                      <p class="card-text">
                        Software professional with 15+ years of experience in providing pragmatic, cost effective solutions to IT by enabling faster, smarter projects. I am mature, candid and have integrity.  Every day I work to improve myself and my skills which is part of maturing and becoming better at what I do. I am committed to building something larger and who puts aside personal gain for the well-being of the group. I have consultative selling style and is concerned with the clients' needs - consistently asking questions to uncover the what the client truly wants then being able to meet those requirements. I seek consistent personal growth and takes the time to continue learning
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>


    <!-- EndMain Track-->


    <!-- Developer Track -->

      <div class="modal fade" id="ManojKumar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img
                      height="245px;"
                      src="assets/images/speakers/developer/Dusa Manoj Kumar.png"
                      class="card-img"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title boldFont">D.Manoj Kumar: <small>Senior Software Integration Developer </small>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                      </h5>
                      <p class="card-text">
                        I have over 7 years of experience in IT with exposure to multiple middleware tools and technologies.I'm self motivated and interested in exploring capabilities of tools. Always curious to learn new technologies.Currently leading Enterprise Integration team in ERIE project
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>


      <div class="modal fade" id="ManeeshKumar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img
                      height="245px;"
                      src="assets/images/speakers/developer/Maneesh Mareedu.png"
                      class="card-img"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title boldFont">M.Maneesh: <small>Senior Software Integration Developer </small>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                      </h5>
                      <p class="card-text">
                        6+ years of experience in Requirement gathering, Analysis, Design, Development and Implementation of Software Applications in the field of EAI( Enterprise Application Integration) as Java, IIBv9 and v10, MQ v7.5 and v8, ACE, APIC, Datapower and MuelSoft Product  developer.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="SanjayShrivastav" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img
                      height="245px;"
                      src="assets/images/speakers/developer/Sanjay Shrivastavanew.png"
                      class="card-img"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title boldFont">Sanjay Shrivastava: <small>Senior Technical Architect </small>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                      </h5>
                      <p class="card-text">
                        “17 years of IT experience in the areas of Enterprise Integration, Digital and Cloud , Technical Project Management.Worked on Design and Architecting solutions in Microsoft Technology Platform including enterprise application using Microsoft Azure IaaS, PaaS and others which includes Travel, Banking and Insurance domain”
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="HimanshuKotadia" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img
                      height="245px;"
                      src="assets/images/speakers/developer/HIMANSHU KOTADIA.png"
                      class="card-img"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title boldFont">Himanshu Kotadia: <small>Software Engineer </small>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                      </h5>
                      <p class="card-text">
                        " Himanshu Kotadia is a Software Engineer at ValueMomentum ,working on .net Core web application and chatbot services. having exposure to multiple technology and cloud Platform services.Learning new things is his one source of motivation. "
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="SriramGudimella" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img
                      height="245px;"
                      src="assets/images/speakers/developer/Sriram.png"
                      class="card-img"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title boldFont">Sriram Gudimella: <small>Architect </small>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                      </h5>
                      <p class="card-text">
                       Technologist by heart with a management degree. I personally believe, Data always has an important story to tell and relies on us to give it a voice. Throughout my career, I feel blessed to have got opportunities to work on strategic data projects spanning across the entire Data Life-cycle. Passion to learn, Persistence, Problem Solving and Delivering results have always defined my approach towards work and have helped me develop an analytical bent of mind. I am an AWS Certified Machine Learning Specialist and the first hundred in the world to become an Associate in Insurance Domain Analytics from The Institutes of CPCU.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>

    <!-- End Developer Track -->


<!-- IT-PRO Track User Profiles -->

<div class="modal fade" id="Saikishore" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img
                      height="245px;"
                      src="assets/images/speakers/itpro/Saikishore Tayi.png"
                      class="card-img"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title boldFont">Saikishore Tayi: <small>Senior Manager- Cloud Practice </small>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                      </h5>
                      <p class="card-text">
                        Saikishore Tayi is an accomplished IT leader with diversified experience across Solution Designing, Program management, Partner Management, Agile, Product Development, IT, Marketing/Sales and Customer support functions. In his current role, Saikishore leads the Cloud Solutions Architecture and Consulting initiatives at ValueMomentum. 
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="SatyaSrinivas" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img
                      height="245px;"
                      src="assets/images/speakers/itpro/Sanjay Srivastava.png"
                      class="card-img"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title boldFont">Satya Srinivas Kumar Chilukuri
: <small>Senior Architect - Morden Data </small>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                      </h5>
                      <p class="card-text">
                        Satya Srinivas Kumar, Chilukuri (Satya) is an accomplished IT professional with rich experience in Data Platform Modernization and Implementation of Cloud Native Data solutions on AWS, Azure and Snowflake. Currently he is implementing solutions for Data Platform Modernization for ValueMomemtum’s customers.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="SudeepKarnavat" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img
                      
                      src="assets/images/speakers/itpro/Sudeep Karnavatnew.png"
                      class="card-img"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title boldFont">Sudeep Karnavat: <small>Delivery Manager </small>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                      </h5>
                      <p class="card-text">
                        Sudeep Karnavat is an accomplished IT professional with rich experience in BI and Data Engineering with Microsoft technologies. He is passionate about data, and storytelling using BI. Currently he is implementing Power BI based solutions for ValueMomemtum’s customers.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>


<!-- End It Pro Track User Profiles -->


<!-- Business Track User Profiles -->
<!-- Modal -->
<div class="modal fade" id="sohini" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img
                      height="245px;"
                      src="assets/images/speakers/business/Sohini Aryanew.png"
                      class="card-img"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title boldFont">Sohini Arya: <small>PMO Manager</small>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                      </h5>
                      <p class="card-text">
                        Sohini Arya comes with an extensive experience of 12 years in program management, execution & delivery. She has diverse knowledge in the agile domain & is also a SAFe Scrum Master certified professional. Currently she is working as a PMO Manager in ValueMomentum, leading & contributing towards all the enterprise program management initiatives. She is also an in-house coach for agile and SAFe concepts for the organization. An extremely passionate program management professional & out-of-box thinker; accelerating program delivery excellence in ValueMomentum
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="Bharath" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img
                      height="245px;"
                      src="assets/images/speakers/business/Bharath Devalla.png"
                      class="card-img"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title boldFont">Bharath Devalla: <small>Project Manager</small>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                      </h5>
                      <p class="card-text">
                        Bharath Devalla is a Certified Project Management Professional (PMP®) and Agile Certified Professional (PMI-ACP & SAFe 4 ) with 11+ years of leadership driven global experience in Software Quality Assurance. With an attitude of running an extra mile for customer delight, Bharat always look for opportunities to improve and deliver with excellence. He also enjoys outdoor sports specially cricket and participates in local tournaments too.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="Suneetha" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img
                      height="245px;"
                      src="assets/images/speakers/business/Suneetha Bagadi.png"
                      class="card-img"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title boldFont">Suneetha Bagadi: <small>Senior Software Engineer</small>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                      </h5>
                      <p class="card-text">
                        7 years of experience in diverse areas of Software Testing which includes developing and implementing advanced automated testing methodologies for the products based on quality-assurance and quality-control methodologies.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>



<div class="modal fade" id="Deepak" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img
                      height="245px;"
                      src="assets/images/speakers/business/Deepak Pelluru.png"
                      class="card-img"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title boldFont">Deepak Pelluru: <small>Vice President</small>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                      </h5>
                      <p class="card-text">
                        Deepak Pelluru is an Engineer-MBA with more than 23 years of rich experience in senior leadership roles at Top tier Global IT companies such as Infosys, Wipro, and Mahindra Satyam. He is currently working in ValueMomentum, an IT Services firm specialized in FinTech, as a business leader focusing on Digital Service Offerings. Deepak is an avid blogger with 100+ blogs to his credit. He has authored 20+ articles in publications such as Forbes, Dataquest, DCK as well as many corporate publications.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="pankajkumar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img
                      height="245px;"
                      src="assets/images/speakers/business/Pankaj K.png"
                      class="card-img"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title boldFont">Pankaj K: <small>Vice President</small>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                      </h5>
                      <p class="card-text">
                        Over 20 years of experience in the software industry, currently associated with ValueMomentum as CSD (Client Services Director) leading India delivery of one of the Strategic P&C/Insurance carrier in the US. He has led and managed several key/Tier-1 application modernization initiatives moving from Legacy application to Cloud/Azure. He is a Tech savvy person and loves to explore new technology areas and Architectural patters. Strong believer of “Mobile first and Cloud first” 
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div> 
</div>


<!-- End Business Track User Profiles -->



    <script src="assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function () {
        // executes when HTML-Document is loaded and DOM is ready
        console.log("document is ready");

        $(".card").hover(
          function () {
            $(this).addClass("shadow-lg").css("cursor", "pointer");
          },
          function () {
            $(this).removeClass("shadow-lg");
          }
        );

        // document ready
      });
    </script>
  </body>
</html>
